{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}

{% trans_default_domain 'edgarezcampaign' %}

{% block body_class %}ez-info-view{% endblock %}

{% block breadcrumbs %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.campaign'|trans(domain='messages')|desc('Campaign') },
        { url: path('edgar.campaign.campaigns'), value: 'campaigns.view'|trans|desc('Campaigns') },
    ]} %}
{% endblock %}

{% block page_title %}
    {% include '@EdgarEzCampaign/campaign/page_title.html.twig' with {
        title: 'campaigns.view.title'|trans|desc('Campaigns'),
        iconName: 'newsletter'
    } %}
{% endblock %}

{% block content %}
    {% set disable_crate = '' %}
    {% if folders.folders|length == 0 or lists.lists|length == 0 %}
        {% set disable_crate = 'disabled' %}
    {% endif %}
    <section class="container mt-4">
        <div class="ez-table-header">
            <div class="ez-table-header__headline">
                {{ 'campaign.campaigns.table.header'|trans|desc('Campaigns') }}
            </div>
            <div>
                <a title="{{ 'campaign.campaign.new'|trans|desc('Create a new campaign') }}"
                   href="{{ path('edgar.campaign.campaign.create') }}"
                   class="btn btn-primary" {{ disable_crate }}>
                    <svg class="ez-icon ez-icon-create">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#create"></use>
                    </svg>
                </a>
                {% set modal_data_target = 'delete-campaigns-modal' %}
                <button id="delete-campaigns" type="button" class="btn btn-danger" disabled data-toggle="modal"
                        data-target="#{{ modal_data_target }}" title="{{ 'campaign.campaign.delete'|trans|desc('Delete Campaign') }}">
                    <svg class="ez-icon ez-icon-trash">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#trash"></use>
                    </svg>
                </button>
                {% include '@EzPlatformAdminUi/admin/bulk_delete_confirmation_modal.html.twig' with {
                    'id': modal_data_target,
                    'message': 'campaign.campaign.modal.message'|trans|desc('Do you want to delete Campaign?'),
                    'data_click': '#campaigns_delete_delete',
                }%}
            </div>
        </div>

        {{ form_start(form_campaigns_delete, {
            'action': path('edgar.campaign.campaign.bulk_delete'),
            'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-campaigns' }
        }) }}
        <table class="table mb-3">
            {% if campaigns.campaigns|length != 0 %}
                <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'campaign.campaigns.title.th'|trans|desc('Title') }}</th>
                        <th>{{ 'campaign.campaigns.subject.th'|trans|desc('Subject') }}</th>
                        <th>{{ 'campaign.campaigns.create_time.th'|trans|desc('Create time') }}</th>
                        <th>{{ 'campaign.campaigns.emails_sent.th'|trans|desc('Emails sent') }}</th>
                        <th>{{ 'campaign.campaigns.send_time.th'|trans|desc('Send time') }}</th>
                        <th>{{ 'campaign.campaigns.list_name.th'|trans|desc('List') }}</th>
                        <th colspan="5"></th>
                    </tr>
                </thead>
            {% endif %}
            <tbody>
            {% if campaigns.campaigns|length == 0 %}
                <tr>
                    <td>
                        {{ 'campaign.campaigns.empty'|trans|desc('No campaign yet registered') }}<br />
                        {% if folders.folders|length == 0 %}
                            {{ 'campaign.campaigns.folders.empty'|trans|desc('There is no Folder registered') }}<br />
                        {% endif %}
                        {% if lists.lists|length == 0 %}
                            {{ 'campaign.campaigns.lists.empty'|trans|desc('There is no Subscription list registered') }}<br />
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                {% for campaign in campaigns.campaigns %}
                    {% set disable_send = '' %}
                    {% if campaign.status == 'save' and campaign.content_type != 'url' %}
                        {% set disable_send = 'disabled' %}
                    {% endif %}
                    <tr>
                        <td class="ez-checkbox-cell">
                            {{ form_widget(form_campaigns_delete.campaigns[campaign.id]) }}
                        </td>
                        <td>{{ campaign.settings.title }}</td>
                        <td>{{ campaign.settings.subject_line }}</td>
                        <td>{{ campaign.create_time }}</td>
                        <td>{{ campaign.emails_sent }}</td>
                        <td>{{ campaign.send_time }}</td>
                        <td>{{ campaign.recipients.list_name }}</td>
                        <td class="text-right edgarezcampaign-td-icon">
                            <a title="{{ 'edgar.campaign.campaign.view'|trans|desc('Detail') }}"
                               href="{{ path('edgar.campaign.campaign.view', {'campaignId': campaign.id}) }}"
                               class="btn btn-icon mx-3">
                                <svg class="ez-icon ez-icon-edit">
                                    <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#view"></use>
                                </svg>
                            </a>
                        </td>
                        <td class="text-right edgarezcampaign-td-icon">
                            <a title="{{ 'edgar.campaign.campaign.send'|trans|desc('Send') }}"
                               href="{{ path('edgar.campaign.reports', {'campaignId': campaign.id}) }}"
                               class="btn btn-icon mx-3" {{ disable_send }}>
                                <svg class="ez-icon ez-icon-edit">
                                    <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#mail"></use>
                                </svg>
                            </a>
                        </td>
                        <td class="text-right edgarezcampaign-td-icon">
                            <a title="{{ 'edgar.campaign.campaign.schedule'|trans|desc('Schedule') }}"
                               href="{{ path('edgar.campaign.reports', {'campaignId': campaign.id}) }}"
                               class="btn btn-icon mx-3" {{ disable_send }}>
                                <svg class="ez-icon ez-icon-edit">
                                    <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#schedule"></use>
                                </svg>
                            </a>
                        </td>
                        <td class="text-right edgarezcampaign-td-icon">
                            <a title="{{ 'edgar.campaign.campaign.reports'|trans|desc('Reports') }}"
                               href="{{ path('edgar.campaign.reports', {'campaignId': campaign.id}) }}"
                               class="btn btn-icon mx-3" {{ disable_send }}>
                                <svg class="ez-icon ez-icon-edit">
                                    <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#stats"></use>
                                </svg>
                            </a>
                        </td>
                        <td class="text-right edgarezcampaign-td-icon">
                            <a title="{{ 'edgar.campaign.campaign.edit'|trans|desc('Edit') }}"
                               href="{{ path('edgar.campaign.campaign.edit', {'campaignId': campaign.id}) }}"
                               class="btn btn-icon mx-3">
                                <svg class="ez-icon ez-icon-edit">
                                    <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#edit"></use>
                                </svg>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        {{ form_end(form_campaigns_delete) }}

        {% if pager.haveToPaginate %}
            <div class="row justify-content-center align-items-center mb-2">
                <span>
                    {{ 'campaign.campaigns.viewing'|trans({
                        '%viewing%': pager.currentPageResults|length,
                        '%total%': pager.nbResults})|desc('Viewing <strong>%viewing%</strong> out of <strong>%total%</strong> items')|raw }}
                </span>
            </div>
            <div class="row justify-content-center align-items-center">
                {{ pagerfanta(pager, 'ez') }}
            </div>
        {% endif %}
    </section>

    {{ include('@EdgarEzCampaign/campaign/modal_folders.html.twig') }}
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@EzPlatformAdminUiBundle/Resources/public/js/scripts/button.state.toggle.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        '@EdgarEzCampaignBundle/Resources/public/css/edgarezcampaign.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
