{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}

{% trans_default_domain 'edgarezcampaign' %}

{% block body_class %}ez-info-view{% endblock %}

{% block breadcrumbs %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.campaign'|trans(domain='messages')|desc('Campaign') },
        { url: path('edgar.campaign.lists'), value: 'lists.view'|trans|desc('Subscription lists') },
    ]} %}
{% endblock %}

{% block page_title %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'lists.view.title'|trans|desc('Subscription lists'),
        iconName: 'newsletter'
    } %}
{% endblock %}

{% block content %}
    <section class="container mt-4">
        <div class="ez-table-header">
            <div class="ez-table-header__headline">
                {{ 'campaign.lists.table.header'|trans|desc('Subscription lists') }}
            </div>
            <div>
                <a title="{{ 'campaign.list.new'|trans|desc('Create a new subscription list') }}"
                   href="{{ path('edgar.campaign.list.create') }}"
                   class="btn btn-primary">
                    <svg class="ez-icon ez-icon-create">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#create"></use>
                    </svg>
                </a>
                {% set modal_data_target = 'delete-lists-modal' %}
                <button id="delete-lists" type="button" class="btn btn-danger" disabled data-toggle="modal"
                        data-target="#{{ modal_data_target }}" title="{{ 'campaign.list.delete'|trans|desc('Delete Subscription list') }}">
                    <svg class="ez-icon ez-icon-trash">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#trash"></use>
                    </svg>
                </button>
                {% include '@EzPlatformAdminUi/admin/bulk_delete_confirmation_modal.html.twig' with {
                    'id': modal_data_target,
                    'message': 'campaign.list.modal.message'|trans|desc('Do you want to delete Subscription list?'),
                    'data_click': '#lists_delete_delete',
                }%}
            </div>
        </div>

        {{ form_start(form_lists_delete, {
            'action': path('edgar.campaign.list.bulk_delete'),
            'attr': { 'class': 'ez-toggle-btn-state', 'data-toggle-button-id': '#delete-lists' }
        }) }}
        <table class="table mb-3">
            <thead>
            <tr>
                <th></th>
                <th>{{ 'campaign.lists.name.th'|trans|desc('Name') }}</th>
                <th>{{ 'campaign.lists.date_created.th'|trans|desc('Date created') }}</th>
                <th>{{ 'campaign.lists.member_count.th'|trans|desc('Member count') }}</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for list in lists.lists %}
                <tr>
                    <td class="ez-checkbox-cell">
                        {{ form_widget(form_lists_delete.lists[list.id]) }}
                    </td>
                    <td>{{ list.name }}</td>
                    <td>{{ list.date_created }}</td>
                    <td>{{ list.stats.member_count }}</td>
                    <td></td>
                    <td class="text-right edgarezcampaign-td-icon">
                        <a title="{{ 'edgar.campaign.list.edit'|trans|desc('Edit') }}"
                           href="{{ path('edgar.campaign.list.edit', {'listId': list.id}) }}"
                           class="btn btn-icon mx-3">
                            <svg class="ez-icon ez-icon-edit">
                                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#edit"></use>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form_end(form_lists_delete) }}

        {% if pager.haveToPaginate %}
            <div class="row justify-content-center align-items-center mb-2">
                <span>
                    {{ 'campaign.lists.viewing'|trans({
                        '%viewing%': pager.currentPageResults|length,
                        '%total%': pager.nbResults})|desc('Viewing <strong>%viewing%</strong> out of <strong>%total%</strong> items')|raw }}
                </span>
            </div>
            <div class="row justify-content-center align-items-center">
                {{ pagerfanta(pager, 'ez') }}
            </div>
        {% endif %}
    </section>
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@EzPlatformAdminUiBundle/Resources/public/js/scripts/button.state.toggle.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

