{% extends '@EzPublishCore/content_fields.html.twig' %}

{% block edgarcampaign_field %}
    {% spaceless %}
        {% set field_value = field.value.text %}
        {% if not ez_is_field_empty(content, 'campaign') %}
            <div id="campaign-container-{{ field.id }}">
                <label for="campaign-{{ field.id }}">{{ 'Subscribe'|trans }}</label>
                <span class="message"></span>
                <input type="text"
                       id="campaign-{{ field.id }}"
                       class="edgarezcampaign-field"
                       data-path="{{ path("edgar.campaign.campaign.subscribe", {"id": field_value}) }}"/>
                <input type="submit" class="edgarezcampaign-submit" data-id="{{ field.id }}"/>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}
