{% extends 'EzPlatformAdminUiBundle:admin/language:base.html.twig' %}

{% form_theme form '@EzPlatformAdminUi/form_fields.html.twig'  %}

{% trans_default_domain 'edgarezcampaign' %}

{% block breadcrumbs_admin %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.campaign'|trans(domain='messages')|desc('Campaign') },
        { url: path('edgar.campaign.campaigns'), value: 'campaigns.view'|trans|desc('Campaigns') },
        { value: 'campaign.edit.identifier'|trans({ '%title%': campaign.title })|desc('Editing Campaign "%title%"') }
    ]} %}
{% endblock %}

{% block page_title_admin %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'campaign.edit.identifier'|trans({ '%title%': campaign.title })|desc('Editing Campaign "%title%"'),
        iconName: 'newsletter'
    } %}
{% endblock %}

{% block title %}{{ 'campaign.edit.identifier'|trans({ '%title%': campaign.title })|desc('Editing Campaign "%title%"') }}{% endblock %}

{% block form %}
    {{ form_start(form, {'action': actionUrl}) }}

    <section class="container mt-4 px-5">
        <div class="card ez-card">
            <div class="card-body">
                {{ form_row(form.title) }}
                {{ form_row(form.list_id) }}
                {{ form_row(form.folder_id) }}
                <div class="form-group">
                    {{ form_widget(form.content) }}
                    <div id="campaign_edit_content_select_content_label"></div>
                </div>
                {{ form_row(form.site) }}
                {{ form_row(form.subject_line) }}
                {{ form_row(form.from_name) }}
                {{ form_row(form.reply_to) }}
            </div>
        </div>
    </section>

    {{ form_widget(form.save, {"attr": {"hidden": "hidden"}}) }}

    {{ form_end(form) }}
{% endblock %}

{% block right_sidebar %}
    {% set campaign_edit_sidebar_right = knp_menu_get('edgar.menu.campaign_edit.sidebar_right', [], {'save_id': form.save.vars.id}) %}
    {{ knp_menu_render(campaign_edit_sidebar_right, {'template': '@EzPlatformAdminUi/parts/menu/sidebar_right.html.twig'}) }}
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@EdgarEzCampaignBundle/Resources/public/js/admin.campaign.location.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        '@EdgarEzCampaignBundle/Resources/public/css/edgarezcampaign.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
