{% extends 'EzPlatformAdminUiBundle:admin/language:base.html.twig' %}

{% trans_default_domain 'edgarezcampaign' %}

{% block breadcrumbs_admin %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.campaign'|trans(domain='messages')|desc('Campaign') },
        { url: path('edgar.campaign.campaigns'), value: 'campaigns.view'|trans|desc('Campaigns') },
        { value: 'campaign.view.identifier'|trans({ '%title%': campaign.title })|desc('Campaign "%title%"') }
    ]} %}
{% endblock %}

{% block page_title_admin %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'campaign.view.identifier'|trans({ '%title%': campaign.title })|desc('Campaign "%title%"'),
        iconName: 'newsletter'
    } %}
{% endblock %}

{% block title %}{{ 'campaign.view.identifier'|trans({ '%title%': campaign.title })|desc('Campaign "%title%"') }}{% endblock %}

{% block form %}

    <section class="container mt-4 px-5">
        <header class="ez-table-header">
            <div class="ez-table-header__headline">
                {{ 'campaign.campaign.view.table.header'|trans|desc('Campaign detail') }}
            </div>
        </header>
        <table class="table">
            <colgroup>
                <col width="30%">
                <col>
            </colgroup>
            <tbody>
            <tr>
                <th>{{ 'campaign.campaign.view.list.td'|trans|desc('List') }}</th>
                <td><a href="{{ path('edgar.campaign.list.view', {'listId': campaign.list_id}) }}">{{ list.name }}</a></td>
            </tr>
            <tr>
                <th>{{ 'campaign.campaign.view.subject_line.td'|trans|desc('Subject line') }}</th>
                <td>{{ campaign.subject_line }}</td>
            </tr>
            <tr>
                <th>{{ 'campaign.campaign.view.from_name.td'|trans|desc('From name') }}</th>
                <td>{{ campaign.from_name }}</td>
            </tr>
            <tr>
                <th>{{ 'campaign.campaign.view.reply_to.td'|trans|desc('Reply to') }}</th>
                <td>{{ campaign.reply_to }}</td>
            </tr>
            <tr>
                <th>{{ 'campaign.campaign.view.folder.td'|trans|desc('Folder') }}</th>
                <td>{{ folder.name }}</td>
            </tr>
            </tbody>
        </table>
    </section>

    {% include '@EdgarEzCampaign/campaign/campaign/modal_delete.html.twig' with {'form': form_delete, 'actionUrl' : actionUrl} only %}

{% endblock %}

{% block right_sidebar %}
    {% set campaign_view_sidebar_right = knp_menu_get('edgar.menu.campaign_view.sidebar_right', [], {'campaign_id': campaign.id}) %}
    {{ knp_menu_render(campaign_view_sidebar_right, {'template': '@EzPlatformAdminUi/parts/menu/sidebar_right.html.twig'}) }}
{% endblock %}
